.banner-admin-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.banner-form {
  margin-bottom: 20px;
}

.banner-form h2 {
  margin-bottom: 10px;
}

.banner-form input,
.banner-form select,
.banner-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.banner-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.banner-form button:hover {
  background-color: #0056b3;
}

.banner-list {
  margin-top: 20px;
}

.banner-list h2 {
  margin-bottom: 10px;
}

.banner-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.banner-item h3 {
  margin-bottom: 20px;
}

.banner-image {
  width: 150px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 20px;
}

.add {
  text-decoration: none;
  background-image: linear-gradient(
    45deg,
    rgb(18, 151, 253),
    rgb(44, 188, 198)
  );
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.management {
  margin-bottom: 20px;
}

.banner-description {
  margin-bottom: 20px;
}
.banner-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.edit-button {
  text-decoration: none;
  background: #1d87f9;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.delete-button {
  background-color: #f91d1d;
  border: none;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}
