nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 3rem;
  background-color: #3f3f3f;
}

.nav-ul,
.nav-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul,
.nav-li,
.nav-a {
  text-decoration: none;
  margin: 0 0.2rem;
  color: white;
  font-size: 1.3rem;
}

.nav-active {
  font-weight: bold;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  width: 3rem;
}

.nav-container {
  display: flex;
}

.nav-container button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    45deg,
    rgb(18, 151, 253),
    rgb(44, 188, 198)
  );
  color: white;
  font-size: 15px;
  cursor: pointer;
}
